.form {
    margin-top: 10px;
    margin-bottom: 20px;
}

.label {
    margin-top: 10px;
    font-weight: 900;
    font-size: 22px;
}

.input {
    display: block;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}

.input:focus {
    outline-color: #91cdd6;
}

.btn {
    margin-top: 10px;
    height: auto;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 6px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.btn:hover {
    background-color: #5b5190;
    color: #91cdd6;

}