.form {
    margin-top: 10px;
    margin-bottom: 20px;
}

.label {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
}

.input {
    display: block;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}

.input:focus {
    outline-color: rgb(177, 158, 158);
}

.btn {
    margin-top: 10px;
    height: auto;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 6px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: blue;
    color: white;

}