.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 30px;
    background-color: #91cdd6;
    box-shadow: 10px 5px 5px #7dadb4;
}